
/* HEADER */

.header-up{
    background-color: black;
    height: 5vh;  
    padding-top: 10px;  
}

ul{
    list-style: none;
}

.login{
    background-color: #363636;
    border-radius: 10px;
    border: none;
    color: white;
}

/* JUMBOTRON */

.jumbotron{
    background-image: url(./img/jumbo-bg.png);
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
    padding-top: 300px;
    margin-bottom: 30px;
}

.banner{
    width: 100%;
}

.buy{
    background-color: #cd3d0f;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 8px 10px;
}

.more-info, .more-info_md, .more-infoxs{
    background-color: #2d64e6;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 6px 10px;
}

/* PS5 */

.d_none{
    display: none;
}

/* IT TAKES TWO */

.takes{
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.title-takes{
    font-size: 40px;
}

/* NEW RELEASES */
.new-releases{
    background-color: #1f1f1f;
}

/* PS-PLUS */
.ps-plus{
    background-color: #bebcbb;
    height: 40vh;
}

.btn-plus{
    border: none;
    color: #2d64e6;
    border-radius: 20px;
    padding: 6px 10px;
}

/* PS-NOW */
.ps-now {
    background-color: #161c3b;
    height: 40vh;
}

.btn-now {
    border: none;
    color: black;
    border-radius: 20px;
    padding: 6px 10px;
}



/* RESPONSIVE MD */

@media screen and (min-width: 769px) {

    .d_none{
        display: flex;
    }

    .gadget {
        width: 60%;
    }
    
    .img-plus {
       width: 400px;
       height: 40vh; 
       object-fit: cover;  
    }

    .img-now {
        width: 430px;
        height: 40vh;
        object-fit: cover;
    }

    .icons{
        width: 50%;
        
    }


}
/* RESPONSIVE LG */

@media screen and (min-width: 993px) {

    .gadget{
        width: 50%;
    }

    .logo-plus{
        width: 50%;
    }

    .img-plus{
        height: 40vh;
        width: 500px;
    }

    .logo-now {
        width: 50%;
    }
    
    .img-now {
        height: 40vh;
        width: 500px;
    }
    
}


